# Fichiers et répertoires générés par l'environnement de développement
/.vscode
/.idea
/.venv
#/.env
/venv
/.DS_Store
/__pycache__

# Fichiers de dépendances
/node_modules
/package-lock.json
/yarn.lock

# Fichiers de build
/build
/dist

# Fichiers de logs
/logs

# Fichiers de configuration spécifiques à votre environnement
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Fichiers de sauvegarde
*.bak
*.swp
*.tmp

# Fichiers de cache
.cache/

# Énoncé
Projet.pdf

#Intelli-J
/inrfactionsmontreal.iml
