#twitterLogo {
    background: url(../images/icone-twitter.png) no-repeat;
    background-size: 150%;
    background-position: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.rotation {
    transition: transform 0.5s;
}

.rotation:hover {
    transform: rotate(-20deg);
}

.custom-tooltip {
    --bs-tooltip-bg: navy;
    --bs-tooltip-color: var(--bs-white);
}

body {
    background-image: radial-gradient(
    farthest-corner at 40px 40px,
    lime 0%,
    cyan 33%,
    #f35 100%
  );
    min-height: 100vh;
}

.navbar-custom {
    background: linear-gradient(to right, dodgerblue, royalblue, #4633f1, #7a03ef, purple, #ff3355);
}

#photoActuelle {
    width: 40%;
}

#rotation-img-nav {
    height: 2.5rem;
}