#twitterLogo {
    background: url(../images/icone-twitter.png) no-repeat;
    background-size: 150%;
    background-position: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.rotation {
    transition: transform 0.5s;
}

.rotation:hover {
    transform: rotate(-20deg);
}

.custom-tooltip {
  --bs-tooltip-bg: navy;
  --bs-tooltip-color: var(--bs-white);
}
