{% extends 'layout.html' %}
{% block content %}
    <div class="bg-primary-subtle container card mb-4 mt-4 p-4 text-center">
        <div class="row g-4">
            <h1 class="col-md-12 text-center">Contraventions</h1>
            <hr class="bg-primary border border-dark border-4 card">
            <div class="col-md-5 container card p-4 bg-info-subtle">
                <h4 class="text-center">Recherche de contraventions par date</h4>
                <hr class="bg-primary border border-dark border-4 card">
                <div class="mb-3">
                    <div class="d-flex mb-3 justify-content-center">
                        <label class="form-label mx-2" for="date-debut">Du : </label>
                        <input style="width: 35%" type="date" class="text-center form-control" id="date-debut" name="dateDebut" required>
                    </div>
                    <div class="d-flex mb-3 justify-content-center">
                        <label class="form-label mx-2" for="date-fin">Au : </label>
                        <input style="width: 35%" type="date" class="text-center form-control" id="date-fin" name="dateFin" required>
                    </div>
                    <button id="button-recherche" class="btn btn-primary">Rechercher</button>
                </div>
                <div class="card" id="resultat-recherche" style="overflow-x: auto; overflow-y: auto; max-height: 100vh;"></div>
            </div>
            <div class="col-md-6 container card p-4 bg-info-subtle">
                <h4 class="text-center">Recherche par nom d'établissements</h4>
                <br>
                <hr class="bg-primary border border-dark border-4 card">
                <select style="width: 80%" class="form-select mb-3 mx-auto" id="champ-etablissements" aria-label="Default select example">
                    {% if infractions %}
                        <option value="" selected>Liste etablissements</option>
                        {% for infraction in infractions %}
                            <option value="{{infraction.id_business}}">
                                {{ infraction.etablissement }} ({{infraction.id_business}})
                            </option>
                        {% endfor %}
                    {% else %}
                        <option>Aucune infraction trouvée</option>
                    {% endif %}
                </select>
                <div class="card" id="tableau-etablissement" style="overflow-x: auto; overflow-y: auto; max-height: 100vh;"></div>
            </div>
        </div>
    </div>
{% endblock %}