{% extends 'layout.html' %} {% block content %}

<div class="container">
  <h1>Recherche par nom d'établissements</h1>
  <select
    class="form-select"
    id="champ-etablissements"
    aria-label="Default select example"
  >
    {% if infractions %}
    <option value="" selected>Liste etablissements</option>
    {% for infraction in infractions %}
    <option value="{{infraction.id_business}}">
      {{ infraction.etablissement }} ({{infraction.id_business}})
    </option>
    {% endfor %} {% else %}
    <option>Aucune infraction trouvée</option>
    {% endif %}
  </select>
  <div id="tableau-etablissement"></div>
</div>

{% endblock %}
